@using SimpleSchoolSystem.ViewModel;
@model CreateNewInstructorViewModel


@{
    ViewBag.Title = "Add New Instructor";
    SelectList departmentList = new SelectList(Model.Departments, "Id", "Name");
    SelectList coursesList = new SelectList(Model.Courses, "Id", "Name");
}

@using (Html.BeginForm("Add", "Instructor"))
{
    @*@Html.AntiForgeryToken()*@
    <div class="flex">
        <div class="mt-6 max-w-lg mx-auto border border-gray-200 p-10">
   @* <div class="mb-4">
        @Html.LabelFor(i => i.Name, new {@class= "block text-gray-900 font-medium mb-2 w-max shrink-0"})
        @Html.TextBoxFor(i => i.Name, new {@class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-red-200"})
        @Html.ValidationMessageFor(i => i.Name, null, new {@class = ""})
      
    </div>*@
            <div class="flex">
                    <div class="mb-4">
                        <label asp-for="Name" class="block text-gray-900 font-medium mb-2 w-max shrink-0"></label>
                        <input asp-for="Name" value="@Model.Name" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-red-200" />
                        <span asp-validation-for="Name" class=""></span>
                    </div>
            </div>

    @*<div class="mb-4">
        @Html.LabelFor(i => i.Age, new {@class= "block text-gray-900 font-medium mb-2 w-max shrink-0"})
        @Html.TextBoxFor(i => i.Age, new {@class = "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-red-200"})
                @Html.ValidationMessageFor(i => i.Age, null, new {@class = "", @value = Model.Age == 0 ? string.Empty : Model.Age.ToString()})
    </div>*@

        <div class="mb-4">
            <label asp-for="Age" class="block text-gray-900 font-medium mb-2 w-max shrink-0"></label>
            <input asp-for="Age" value="@Model.Age" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-red-200" />
            <span asp-validation-for="Age" class=""></span>
        </div> 
        
@*    <div class="mb-4">
        @Html.LabelFor(i => i.Department, new {@class= "block text-gray-900 font-medium mb-2 w-max shrink-0"})
        @Html.DropDownListFor(i => i.Department, new SelectList(Model.Departments, "Id", "Name"), "",  new {@class = "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-red-200"})
        @Html.ValidationMessageFor(i => i.Department, null, new {@class = ""})
    </div>*@
            <div class="mb-4">
                <label asp-for="Department" class="block text-gray-900 font-medium mb-2 w-max shrink-0"></label>
                @*<option value="">-- Select Department --</option>*@
                <select asp-for="Department" asp-items="departmentList" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                    @foreach (var dept in Model.Departments)
                    {
                        if (Model.Department == dept.Name)
                        {
                            <option value="@dept.Id" selected>@dept.Name</option>
                        }
                        else
                        {
                            <option value="@dept.Id">@dept.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="Department" class=""></span>
            </div>


@*    <div class="mb-4">
        @Html.LabelFor(i => i.Course, new {@class= "block text-gray-900 font-medium mb-2 w-max shrink-0"})
       @Html.DropDownListFor(i => i.Course, new SelectList(Model.Courses, "Id", "Name"), "",  new {@class = "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-red-200"})
       @Html.ValidationMessageFor(i => i.Course, null, new {@class = ""})
    </div>*@

            <div class="mb-4">
                <label asp-for="Course" class="block text-gray-900 font-medium mb-2 w-max shrink-0"></label>
                <select asp-for="Course" asp-items="coursesList" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                    @foreach (var course in Model.Courses)
                    {
                        if (Model.Course == course.Name)
                        {
                            <option value="@course.Id" selected>@course.Name</option>
                        }
                        else
                        {
                            <option value="@course.Id">@course.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="Course" class=""></span>
            </div>

    <div class="mt-8 flex items-center justify-end">
        <button class=" bg-red-500 hover:bg-red-300 text-white font-medium py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit">
            Add
        </button>
    </div>

    </div>
</div>
}

